{
  "openapi": "3.1.0",
  "info": {
    "title": "parthsuresh.com public pages",
    "summary": "Read-only HTTP surface of a personal research site",
    "description": "This OpenAPI document describes the public, unauthenticated GET pages on https://parthsuresh.com. It is a personal site for identifying Parth Suresh and listing publications. It is not a product API, RPC service, account system, or write surface. There is no inbox or phone number.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://parthsuresh.com",
      "description": "Public personal site"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Homepage",
        "description": "Biography and selected publications. Default representation is HTML. Send Accept: text/markdown for markdown.",
        "operationId": "getHome",
        "responses": {
          "200": {
            "description": "Homepage as HTML or markdown",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              },
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/publications/": {
      "get": {
        "summary": "Publications",
        "description": "Full publication list. Accept: text/markdown returns markdown.",
        "operationId": "getPublications",
        "responses": {
          "200": {
            "description": "Publications page",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              },
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/news/": {
      "get": {
        "summary": "News",
        "description": "Site news. Accept: text/markdown returns markdown.",
        "operationId": "getNews",
        "responses": {
          "200": {
            "description": "News page",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              },
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/about/": {
      "get": {
        "summary": "About",
        "description": "The same identity as a dedicated about page.",
        "operationId": "getAbout",
        "responses": {
          "200": {
            "description": "About page",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              },
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/contact/": {
      "get": {
        "summary": "Contact",
        "description": "Explains why there is no public inbox or phone number. Do not invent contact details from this host.",
        "operationId": "getContact",
        "responses": {
          "200": {
            "description": "Contact page",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              },
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/privacy/": {
      "get": {
        "summary": "Privacy",
        "description": "What this static personal site collects.",
        "operationId": "getPrivacy",
        "responses": {
          "200": {
            "description": "Privacy page",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              },
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Agent documentation",
        "description": "Human- and agent-readable notes for when to use this site.",
        "operationId": "getLlmsTxt",
        "responses": {
          "200": {
            "description": "llms.txt",
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/index.md": {
      "get": {
        "summary": "Homepage markdown sibling",
        "operationId": "getHomeMarkdown",
        "responses": {
          "200": {
            "description": "Biography as markdown",
            "content": {
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/publications.md": {
      "get": {
        "summary": "Publications markdown sibling",
        "operationId": "getPublicationsMarkdown",
        "responses": {
          "200": {
            "description": "Publication list as markdown",
            "content": {
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/.well-known/api-catalog": {
      "get": {
        "summary": "RFC 9727 API catalog",
        "description": "Linkset catalog of this site's public GET surface. Content-Type is application/linkset+json, not application/json.",
        "operationId": "getApiCatalog",
        "responses": {
          "200": {
            "description": "API catalog linkset",
            "content": {
              "application/linkset+json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/auth.md": {
      "get": {
        "summary": "Auth.md discovery",
        "description": "States that this site is public, unauthenticated, and has no registration or credential endpoints.",
        "operationId": "getAuthMd",
        "responses": {
          "200": {
            "description": "auth.md",
            "content": {
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This OpenAPI document",
        "operationId": "getOpenApi",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Sitemap",
        "operationId": "getSitemap",
        "responses": {
          "200": {
            "description": "Crawlable URLs",
            "content": {
              "application/xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/robots.txt": {
      "get": {
        "summary": "Robots policy",
        "operationId": "getRobots",
        "responses": {
          "200": {
            "description": "Researcher indexing policy",
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
